.insert-form {
	display: flex;
	margin-bottom: 20px;
}

.insert-form .todo-input {
	display: block;
	margin-right: 5px;
	padding-left: 15px;
	width: 600px;
	height: 75px;
	font-size: 18px;
}

.insert-form .todo-submit-btn {
	display: block;
	width: 90px;
	height: 75px;
	font-size: 18px;
}
