* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	max-width: 500px;

	line-height: 1;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	color: #333333;
	font-size: 14px;
}

ol,
ul {
	list-style: none;
}

button {
	border: 0px;
}
.landing {
	padding: 35px 40px 50px;
	background-color: #d6e0f0;
}
