.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	padding: 0 20px;
	line-height: 50px;
	background-color: white;
	border: 1px solid #efefef;
	border-radius: 50px;
}

.item-text {
	font-size: 17px;
	font-weight: 400;
}

.item-text.checked {
	color: #999999;
	text-decoration: line-through;
}

.btn-box {
	display: flex;
	align-items: center;
}

.btn-box * {
	cursor: pointer;
}

.btn-box svg:first-child {
	margin-right: 5px;
}
